@import "@vueform/slider/themes/default.css";

:root {
  --slider-connect-bg: #3b82f6;
  --slider-tooltip-bg: #3b82f6;
  --slider-handle-ring-color: #3b82f630;
}

img {
  @apply inline-block;
}

input[type="number"],
input[type="text"] {
  @apply w-full border px-3 py-2 rounded-lg;
}
label {
  @apply text-sm mt-3 mb-2 font-medium text-dark-200;
}

.vc-color-wrap {
  @apply rounded-lg !w-full !h-10 border !shadow-none;
}
